@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

body{
  margin: 0%;
  padding: 0%;
}

nav{
  font-family: 'Bree Serif', serif;
}


nav a{
  padding: 10px;
  font-size: 15px;
  color: whitesmoke;
  text-decoration: none;
}

nav a:hover{
  color: rgb(18, 110, 163);
  text-decoration: none;
}

.main{
  display: flex;
  justify-content: space-evenly ;
}

.icon{
  margin-left: 150px;
  width: 450px;
}

.headertext{
  font-family: 'Bree Serif', serif;
  font-size: 2em;
  margin-top: 200px;
}

h2{
  padding-top: 10px;
  text-align: center;
  
}

hr{
  width: 300px;
border-top: 4px solid rgb(15, 135, 156) !important; 
}

.persoinfo{
  background-color: rgb(25, 145, 167);
}

.personinfo{
  width: 300px;
  border-top: 4px solid rgb(255, 255, 255) !important;
}

.textinfo{
  padding-top: 10px;
  color: white;
}

.info{
  color: white;
}

.personalinfo{
  height: 390px;
  width: 360px;
  margin-left: 40%;
}

.jumbotron{
  padding-top: 0% !important;
  background-color:transparent !important;
}

p{
  text-align: justify;
  font-family: 'Bree Serif', serif;
}

.skill{
  
  width: 100%;
  background-color: rgb(52, 183, 206);
}

h3{
  text-align: center;
  color: whitesmoke;
}

.gmbrport{
  border-radius: 30px;
  width: 300px;
  margin-left: 180px;
}

.language{
  padding-bottom: 20px;
  background-color: rgb(15, 135, 156) !important;
}

.icoprogram{
  width: 150px;
  margin-left: 115px;
}

span{
  margin-left: 40px;
  font-size: 24px;
  font-family: 'Bree Serif', serif;
}

span.textfooter{
  padding: 0% 0% 0% 38%;
}

.isidetail{
  margin-left: 30%;
}

.cardhire{
  height: 200px;
  border-radius: 20px;
  padding:30px 30px 10px 30px;
  margin-left: 330px;
  width: 450px;
  margin-bottom: 60px;
}